*, * > *{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing: border-box;}
body{background:#ddd; padding:30px 0; font-family:Raleway, Arial, Helvetica, sans-serif;}
h1{text-align:center; margin:0 0 30px; font-family:Oswald, Arial, Helvetica, sans-serif;}
.button{background:black; color:white; padding:5px 10px; border-radius:5px;}
.button:hover{text-decoration:none; background:white; border:1px solid black; color:black;}

.container.main{background:white; border:1px solid #ccc; border-radius:15px; box-shadow:2px 3px 4px 2px #d0d0d0; padding:15px;}
.legend{padding:10px; font-weight:700; margin-bottom:10px;}
.task{padding:10px; margin-bottom:10px; background:black; color:white;}
.assignee, .priority, .edit, .completed, .delete{text-align:center;}

.task .name{font-weight:700; font-family:Oswald, Arial, Helvetica, sans-serif;}
.task .completed{color:#bbb; cursor:pointer;}
.task .completed[data-completed="true"]{color:#08cf23;}
.task .completed:hover, .task .completed[data-completed="true"]:hover{color:#42f55a;}
.task .edit a{color:#e6d995;}
.task .edit a:hover{color:#CFC386;}
.task .priority{text-transform:uppercase; font-weight:700;}
.task .priority.high{color:red;}
.task .priority.medium{color:orange;}
.task .priority.low{color:green;}
.task .delete{cursor:pointer; color:#ddd;}
.task .delete:hover{color:white;}

.add{padding-top:5px; text-align:center;}

label{display:block; margin:0;}
select, input{width:100%; height:30px;}